version: "3.9"

services:
  full:
    image: emily06/alma8-full:proyecto-final
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alma8_revision
    environment:
      - RBENV_ROOT=/usr/local/rbenv
      - NVM_DIR=/usr/local/nvm
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: tail -f /dev/null 
    profiles:
      - sonarqube
      - jmeter