services:
  devstack:
    container_name: proyectofinal-devstack
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/workspace
    working_dir: /workspace
    tty: true
    stdin_open: true
