version: "3.8"

services:
  devstack:
    build: .
    image: proyectofinal-devstack:latest
    container_name: devstack-container
    tty: true
    stdin_open: true
    working_dir: /workspace
    # Solo mantiene el contenedor vivo para ejecutar comandos
    command: ["tail", "-f", "/dev/null"]